<!DOCTYPE html>
<html>
  <head>
    <title>X2024</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet" />
  </head>
  <body hx-headers='{"X-CSRF-Token": "<%= form_authenticity_token %>"}'>
    <style>
      me {  font-family: 'Iosevka Web' }
      me h3 { font-size: 2rem; }
      me hr { margin-top: -1.8em; }
      me ul { float: right; margin-top: -3em;}
      me li { display: inline;}
      me li a { color: black; }
      me li a:link { text-decoration: none; } 
    </style>
    <h3> <%= @title %> </h3>
    <ul>
      <li> <a href="/voip_trunks/">TRONCALES</a> </li>
      <li> <a href="/customers/">CLIENTES</a> </li>
      <li> <a href="/numbers/">NUMEROS</a> </li>
      <li> <a href="/domains/">DOMINIOS</a> </li>
      <li> <a href="/subscriptors/">SUBSCRIPTORES</a> </li>
      <li> <a href="/cdrs/">CDRS</a> </li>
    </ul>
    <hr/>
    <%= yield %>
  </body>
</html>
